@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --ffamily: 'Nunito Sans', sans-serif;
  --fw-light: 300; 
  --fw-medium: 600; 
  --fw-bold: 800;
  --fs-normal: 14px;
  --fs-large: 16px;

  --color-dark-mode-bg: hsl(209, 23%, 22%);
  --color-dark-mode-main-bg: hsl(207, 26%, 17%); 
  --color-dark-mode-text: hsl(0, 0%, 100%); 
  --color-dark-mode-input: hsl(0, 0%, 52%); 

  --color-light-mode-bg:  hsl(0, 0%, 100%);
  --color-light-mode-main-bg: hsl(0, 0%, 98%); 
  --color-light-mode-text: hsl(200, 15%, 8%); 
  --color-light-mode-input: hsl(0, 0%, 100%); 

  --radius: 0.5rem;
  --box-shadow: 0 0 10px hsl(0, 0%, 52%);
} 

body[data-theme='dark'] {
  --color-text: var(--color-dark-mode-text);
  --color-bg: var(--color-dark-mode-bg); 
  --color-bg-main: var(--color-dark-mode-main-bg); 
  --color-bg-input: var(--color-dark-mode-input);
}

body[data-theme='light'] {
  --color-text: var(--color-light-mode-text);
  --color-bg: var(--color-light-mode-bg); 
  --color-bg-main: var(--color-light-mode-main-bg); 
  --color-bg-input: var(--color-light-mode-input);
}

body {
  font-family: var(--ffamily);
  font-weight: var(--fw-light);
  font-size: var(--fs-normal);

  color: var(--color-text);
  background-color: var(--color-bg);

  input {
    background-color: var(--color-bg-input);
    color: var(--color-text);
  }
}