@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --ffamily: 'Nunito Sans', sans-serif;
  --fw-light: 300; 
  --fw-medium: 600; 
  --fw-bold: 800;
  --fs-normal: 14px;
  --fs-large: 16px;

  --color-dark-mode-elements: hsl(209, 23%, 22%);
  --color-dark-mode-background: hsl(207, 26%, 17%); 
  --color-dark-mode-text: hsl(0, 0%, 100%); 
  --color-light-mode-elements:  hsl(0, 0%, 100%);
  --color-light-mode-background: hsl(0, 0%, 98%); 
  --color-light-mode-text: hsl(200, 15%, 8%); 
  --color-light-mode-input: hsl(0, 0%, 52%); 

  --radius: 0.5rem;
  --box-shadow: 0 0 10px hsl(0, 0%, 52%);
} 

body {
  font-family: var(--ffamily);
  font-weight: var(--fw-light);
  font-size: var(--fs-normal);
}

body[data-theme='dark'] {
  color: var(--color-dark-mode-text);
  background-color: var(--color-dark-mode-background);
  * {
    background-color: var(--color-dark-mode-elements);
  }
}

body[data-theme='light'] {
  color: var(--color-light-mode-text);
  background-color: var(--color-light-mode-background);
  * {
   background-color: var(--color-light-mode-elements); 
  }
  input {
    background-color: var(--color-light-mode-input);  
  }
}
