@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --ffamily: 'Nunito Sans', sans-serif;
  --fw-light: 300; 
  --fw-medium: 600; 
  --fw-bold: 800;
  --fs-normal: 14px;
  --fs-large: 16px;
} 

